alembic==1.18.4 ; python_version >= "3.12"
annotated-doc==0.0.4 ; python_version >= "3.12"
annotated-types==0.7.0 ; python_version >= "3.12"
anyio==4.12.1 ; python_version >= "3.12"
asyncpg==0.31.0 ; python_version >= "3.12"
bcrypt==3.2.2 ; python_version >= "3.12"
certifi==2026.2.25 ; python_version >= "3.12"
cffi==2.0.0 ; python_version >= "3.12"
charset-normalizer==3.4.4 ; python_version >= "3.12"
click==8.3.1 ; python_version >= "3.12"
colorama==0.4.6 ; (platform_system == "Windows" or sys_platform == "win32") and python_version >= "3.12"
cryptography==46.0.5 ; python_version >= "3.12"
dnspython==2.8.0 ; python_version >= "3.12"
ecdsa==0.19.1 ; python_version >= "3.12"
email-validator==2.3.0 ; python_version >= "3.12"
fastapi==0.128.8 ; python_version >= "3.12"
greenlet==3.3.1 ; python_version >= "3.12" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.16.0 ; python_version >= "3.12"
httptools==0.7.1 ; python_version >= "3.12"
idna==3.11 ; python_version >= "3.12"
jinja2==3.1.6 ; python_version >= "3.12"
mako==1.3.10 ; python_version >= "3.12"
markupsafe==3.0.3 ; python_version >= "3.12"
passlib==1.7.4 ; python_version >= "3.12"
psycopg2-binary==2.9.11 ; python_version >= "3.12"
pyasn1==0.6.2 ; python_version >= "3.12"
pycparser==3.0 ; python_version >= "3.12" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.12"
pydantic==2.12.5 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
python-dotenv==1.2.1 ; python_version >= "3.12"
python-jose==3.5.0 ; python_version >= "3.12"
python-multipart==0.0.22 ; python_version >= "3.12"
pyyaml==6.0.3 ; python_version >= "3.12"
requests==2.32.5 ; python_version >= "3.12"
rsa==4.2 ; python_version >= "3.12"
sib-api-v3-sdk==7.6.0 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
sqlalchemy==2.0.46 ; python_version >= "3.12"
starlette==0.52.1 ; python_version >= "3.12"
typing-extensions==4.15.0 ; python_version >= "3.12"
typing-inspection==0.4.2 ; python_version >= "3.12"
urllib3==2.6.3 ; python_version >= "3.12"
uvicorn==0.40.0 ; python_version >= "3.12"
uvloop==0.22.1 ; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.12"
watchfiles==1.1.1 ; python_version >= "3.12"
websockets==16.0 ; python_version >= "3.12"
